################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/OOP_C_Sharp/.vs/OOP_C_Sharp/v16
/OOP_C_Sharp/Lesson2/obj
/OOP_C_Sharp/Lesson2/Lesson2.csproj.user
/OOP_C_Sharp/Lesson2/bin/Debug/net5.0
/OOP_C_Sharp/.vs/OOP_C_Sharp/DesignTimeBuild
/OOP_C_Sharp/Lesson3/obj
/OOP_C_Sharp/Lesson3/bin/Debug/net5.0
/OOP_C_Sharp/Lesson3/Lesson3.csproj.user
/OOP_C_Sharp/Lesson4/bin/Debug/net5.0
/OOP_C_Sharp/Lesson4/obj
/OOP_C_Sharp/Lesson5/obj
/OOP_C_Sharp/Buildings/obj
/OOP_C_Sharp/Buildings/bin/Debug/net5.0/ref
/OOP_C_Sharp/Lesson5/bin/Debug/net5.0/ref
/OOP_C_Sharp/Buildings/bin/Debug/net5.0
/OOP_C_Sharp/Lesson5/bin/Debug/net5.0
/OOP_C_Sharp/Lesson6/obj
/OOP_C_Sharp/Lesson3
/OOP_C_Sharp/Lesson6/bin/Debug/net5.0
/OOP_C_Sharp/.vs/OOP_C_Sharp
/OOP_C_Sharp/Lesson6/bin/Debug/net6.0
