################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/OOP_C_Sharp/.vs/OOP_C_Sharp/v16
/OOP_C_Sharp/Lesson2/obj
/OOP_C_Sharp/Lesson2/Lesson2.csproj.user
/OOP_C_Sharp/Lesson2/bin/Debug/net5.0
/OOP_C_Sharp/.vs/OOP_C_Sharp/DesignTimeBuild
/OOP_C_Sharp/Lesson3/bin/Debug/net5.0
/OOP_C_Sharp/Lesson3/obj
